@use 'main';

// Nav li hover effects for both mobile and desktop
nav.mobileNav.active{
  max-height: 500px;
}
nav.mobileNav li:hover{
  color: main.$grey-500;
}
nav.desktopNav li:before{
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 500%);
  height: 1px;
  width: 0%;
  border-bottom: 1px solid transparent;
  transition: width 0.15s ease;
}
nav.desktopNav li:hover:before{
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 500%);
  height: 1px;
  width: 40%;
  border-bottom: 1px solid main.$white;
}

// Body "Shadow Filter" when mobile nav opens
.body__contentWrapper{
  filter: brightness(100%);
  background-color: white;
  transition: filter 0.35s ease;
}
.body__contentWrapper.filterActive{
  z-index: 1;
  filter: brightness(60%);
}

// Arrow container focus state
.imgSlider__arrowContainer:focus, 
.imgSlider__arrowContainer:hover{
  background-color: main.$grey-800;
}

// Shop Now button focus state
.heroTextSection__shopBtn:focus p, 
.heroTextSection__shopBtn:hover p{
  color: main.$grey-500;
}
.heroTextSection__shopBtn:focus .shopBtn__svg, 
.heroTextSection__shopBtn:hover .shopBtn__svg{
  fill: main.$grey-500;
}