// Base Styling + Img Reset
*{
  padding: 0;
  margin: 0;

  font-family: "League Spartan", sans-serif;
  box-sizing: border-box;
}
:root{
  font-size: 16px;
}
img{
  width: 100%;
  height: auto;

  object-fit: fill;
}

// Variables
$white: hsl(0, 100%, 100%);
$grey-500: hsl(0, 0%, 63%);
$grey-800: hsl(0, 0%, 27%);
$black: hsl(0, 0%, 0%);

$fs-1m: min(4.25vw, 1rem);
$fs-1d: min(1.25rem, 1.5vw);
$fs-2: 1.5rem;
$fs-3: 2rem;

$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

$p-1: 7.5vw;
$p-2: 2.25em;
$p-3: 3em;

$m-1: 1em;
$m-2: min(8vw, 2.5rem);
$m-3: 4em;

// Compositions

// Utilities
.c-pointer{
  cursor: pointer;
}

//Blocks
main{
  min-height: 100svh;
  min-height: 100vh;
}

//Exceptions